# EVASim
EVASim/MemStructure.py
EVASim/__pycache__
EVASim/src/__pycache__
EVASim/results_ed_r_nt_lk_nb_bs
EVASim/results_test
EVASim/multi_run_sim.sh
EVASim/temp_run_sim.sh
EVASim/run_sim_test_cpp.sh
# EVASim/run_sim_tf.sh
EVASim/run_sim_vdb_2.sh
EVASim/src/ongoing_cpp
EVASim/src/test_lru_cache.py
# EVASim/datasets/profiled_datasets
EVASim/datasets/vectordb/deep250m_train_10m.txt
EVASim/datasets/vectordb/spacev250m_train_10m.txt
EVASim/datasets/vectordb/deep250m_train_1B.txt
EVASim/datasets/vectordb/spacev250m_train_1B.txt
EVASim/oracle_trace_all.txt

EVASim/results_1mperiod
EVASim/results_Batchperiod_bormin
EVASim/results_energy

EVASim/ls_i.txt
EVASim/results_Batchperiod0204/
EVASim/run_only_energy.sh
EVASim/run_sim_test_EOT.sh
EVASim/run_sim_32.sh
EVASim/run_sim_32_high.sh

# rep_figures

# workload_profiling

# artifact_evaluation_scripts